
<h1>SignUp</h1>
   <% if @error %>
  <%  @error.each do |e| %>
    <h1> <%= e %> </h1>
    <% end %>
    <% end %> 

<%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Sign Up" %>
<% end %>