<h1>Add a new event for today!</h1>

<%= form_for @event, url:pet_events_path(@pet, @event) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => 'Appointment Type' %>
    </div>
    <div>
        <%= f.label :date %>
        <%= f.text_field :date, :placeholder => 'dd/mm/yyyy' %>
    </div>

    <h4> Select your Caretaker </h4>
    <div>
    <%= f.collection_select :caretaker_id, Caretaker.all, :id, :title %>

    <%= f.submit "Add Event" %>
<% end %>

  