<h1>Upcoming Schedule:</h1>

<%= @pet.name %> has a <%= @event.name %> on <%= @event.date %> with <%= @event.caretaker.title %>
<br>
<br>
<br>
<br>
<br>
<div>
<%= link_to "View Full Schedule", pet_events_path(@pet) %>
</div>