<!DOCTYPE html>
<html>
  <head>
    <title>PetAppointmentTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if logged_in? %>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <li><%= link_to "Add Caretaker", new_caretaker_path %></li>
      </ul>
    </div>
    <% else %>
    <div>
      <ul>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Signup", signup_path %></li>
        <li><%= button_to "Sign up with Google", '/auth/google_oauth2', method: :post %></li>
      </ul>
    </div>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
